DATABASE_URL=postgres://dackpostgres:replace-me@dack_dackdb:5432/dackdb?sslmode=disable
NEXT_PUBLIC_APP_NAME=DACK Reporting Platform
NEXT_PUBLIC_APP_ENV=development
APP_URL=http://localhost:3000
STORAGE_MODE=local
UPLOAD_DIR=./uploads
